snippet describe
	describe("${1}", ${2});
snippet it
	it("${1}", ${2});
snippet expect
	expect(${1})${2}
snippet toBeDefined
	.toBeDefined()
snippet toEqual
	.toEqual(${1})
snippet beforeEach
	beforeEach(${1});
